@page
@model GerenTaref.RazorPages.Pages.Usuario.Index

<style>
    .btn{
        display: inline;
        margin-left: 10px;
    }
</style>

<h1 class="display-4">Usuários Registrados</h1>

<hr/>
<td><a class="btn btn-success" asp-page="/Usuario/Create" id="botão_inicial">Adicionar novo usuario</a></td>
<hr/>

<div>
    <table class="table table-bordered table-striped table-hover-custom">
        <thead>
            <tr>
                <td>@Html.DisplayNameFor(model => model.UserModel[0].UsuarioID)</td>
                <td>@Html.DisplayNameFor(model => model.UserModel[0].NomeCompleto)</td>
                <td>@Html.DisplayNameFor(model => model.UserModel[0].Email)</td>
                <td>@Html.DisplayNameFor(model => model.UserModel[0].Senha)</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var userModel in Model.UserModel)
            {
                <tr>
                    <td>@Html.DisplayFor(model => userModel.UsuarioID)</td>
                    <td>@Html.DisplayFor(model => userModel.NomeCompleto)</td>
                    <td>@Html.DisplayFor(model => userModel.Email)</td>
                    <td>@Html.DisplayFor(model => userModel.Senha)</td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@userModel.UsuarioID" class="btn btn-success">Alterar</a>
                        <a asp-page="./Delete" asp-route-id="@userModel.UsuarioID" class="btn btn-danger">Remover</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>