@page "{id:int}"
@model GerenTaref.RazorPages.Pages.Tarefa.Delete
@{
    Layout = "../Shared/_MainLayoutFooter.cshtml";
}

<link rel="stylesheet" href="~/lib/css/estiloTarefa.css"/>

<div class="container_form">
    <h1>Criar nova Tarefa</h1>
        <form class="form" method="post">
            <div class="form_grupo">
                <label  class="form_label"> Nome</label>
                <input value="@Model.TarModel.Nome" id="input" class="form_input" readonly>
            </div>

            <div class="form_grupo">
                <label  class="form_label"> Descrição</label>
                <textarea cols="30" rows="3" class="form_input message_input"  readonly>@Model.TarModel.Nota</textarea>
            </div>

            <div class="form_grupo">
                <label  class="form_label"> Data Final</label>
                <input value="@Model.TarModel.DataFinal" class="form_input" readonly>
            </div>

            <div class="form_grupo">
                <label  class="text"> Status</label>
                <input value="@Model.TarModel.EstadoTarefa" id="input" class="form_input" readonly>
            </div>

            <div class="form_grupo">
                <label type="number" class="text"> Responsável</label>
                <input value="@Model.TarModel.Responsavel!.NomeCompleto" id="input" class="form_input" readonly>
            </div>
           
            <br/>
            <div class="submit">
                <input type="submit" id="deletar" class="submit_btn" value="Deletar"/>
                <a asp-page="./Index" id="cancela" class="submit_btn">Cancelar</a>
            </div>
        </form>
    </div>
</div>
